body{
    background-color:#413156 ;
}
h1{
    text-align: center;
    color: aliceblue;
}

.container{
    width: 500px;
    clear: both;
}
.container input{
    width: 500px;
    clear: both;
}
button{
    text-align: center;
    margin: auto;
    position: relative;
    display: flex;
    padding: 2%;


}
 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: 80%;
}